body {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 600px;
	background-color: #fff;
	color: #000;
	font: 1.2em 'Palatino' , 'palatino' , serif;}

a {
	color: #466533;}

h1 a {
	color: inherit;
	text-decoration: none;}

p {
	text-align: justify;}

p.subtitle {
	margin: 0;
	margin-top: -1.5em;
	padding: 0;
	color: #466533;
	text-indent: 2em;
	font-weight: bold;}

p.subtitle a {
	text-decoration: none;}

header {
	display: block;
	margin-bottom: 25px;}

header p {
	margin: 0;
	font: bold 25px palatino;
	font-weight: bold;}

header img.logo {
	float: left;}

header img.banner {
	line-height: 1.33em;
	font-size: 90px;}

pre {
	margin: 1em;
	padding: .5em;
	border: 1px solid #466533;
	border-radius: 3px;
	font: .8em courier;
	-moz-border-radius: 3px;}

div.toc {
	margin: 1em;
	padding: .5em;
	border: 1px solid #466533;
	border-radius: 3px;
	-moz-border-radius: 3px;}

div.toc ul {
	margin: 0;
	margin-left: .5em;
	padding: 0;
	list-style-position: inside;}

div.toc ul li {
	text-indent: 0;}

